<section class="cjj_empy hidden-pocket">


</section>

<style>

	#shopify-section-{{ section.id }} .cjj_empy{
		height:10px;
        width:100vw
	}

</style>

{% schema %}
{
	"name": "空白",
	"settings": [
	],
	"presets": [
		{
			"category": "Image",
			"name": "空白",
			"settings": {}
		}
	]
}
{% endschema %}
